#topPaneStackPane {
    -fx-background-color: lightseagreen;
    -fx-padding: 30, 800;
    -fx-min-width: 900;
}

#nsp1 {
    -fx-padding: 10 20 10 20;
    -fx-background-color: cadetblue;
    -fx-border-color: whitesmoke;
}

#nsp {
    -fx-background-color: cadetblue;
    -fx-border-color: whitesmoke;
}

#ssp1 {
    -fx-padding: 20 20 20 20;
    -fx-background-color: darkcyan;
    -fx-border-color: whitesmoke;
}

#ssp {
    -fx-background-color: darkcyan;
    -fx-border-color: whitesmoke;
}

#welcomePane {
    -fx-background-color: lightcyan;
}